.h1{
	background-color: #FFEFD5;
}
.h1{
	color: #33FFFF;
	text-align: center;
}
.ten {
	color: rgb(255, 99, 71);
	font-weight: bolder;
}.truong {
	color: rgb(255, 99, 71);
	font-weight: bolder;
}.lop {
	color: rgb(255, 99, 71); 
	font-weight: bolder;
}.sdt {
	color: rgb(255, 99, 71);
	font-weight: bolder;
}